WorkOrderTaskJService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://workordertaskj.m3620.service.ellipse.mincom.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="http://service.ellipse.mincom.com" xmlns:ns1="http://connectivity.service.ews.mincom.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:ns4="http://instances.base.types.ellipse.mincom.com" xmlns:ns3="http://instances.m3620.types.ellipse.mincom.com" xmlns:ns6="http://errors.ellipse.mincom.com" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns5="http://attribute.ellipse.mincom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://workordertaskj.m3620.service.ellipse.mincom.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://connectivity.service.ews.mincom.com">
    <xsd:complexType name="OperationContext">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="applicationClientId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="district" type="xsd:string"/>
            <xsd:element minOccurs="0" name="eventDisable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="maxInstances" type="xsd:int"/>
            <xsd:element minOccurs="0" name="position" type="xsd:string"/>
            <xsd:element minOccurs="0" name="returnWarnings" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="runAs" type="ns1:RunAs"/>
            <xsd:element minOccurs="0" name="tenantId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="trace" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="transaction" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RunAs">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="district" type="xsd:string"/>
            <xsd:element minOccurs="0" name="position" type="xsd:string"/>
            <xsd:element minOccurs="0" name="user" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.m3620.types.ellipse.mincom.com">
    <xsd:import namespace="http://service.ellipse.mincom.com"/>
    <xsd:import namespace="http://workordertaskj.m3620.service.ellipse.mincom.com"/>
    <xsd:simpleType name="assignPerson">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="crew">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="WorkOrderTaskJSearchParam">
        <xsd:complexContent>
            <xsd:extension base="ns2:AbstractSearchParam">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="assignPerson" type="ns3:assignPerson"/>
                    <xsd:element minOccurs="0" name="crew" type="ns3:crew"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="sjDstrctCode">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="earlyFinTime">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="planPriorityD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="locationFr">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="compCodeD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="planStrTime">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="unitOfWork">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="completedByD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="taskStatusUD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="woTypeD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="maintType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="APTWExistsInd">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="stdJobNo">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="taskStatus">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="planFinTime">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="workOrder">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="earlyStrDate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="planStrDate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="equipNoD2">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="priorityD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="equipNoD1">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="estDurHrs">
        <xsd:restriction base="xsd:decimal">
            <xsd:maxInclusive value="999999999.99"/>
            <xsd:minInclusive value="-999999999.99"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="taskStatusU">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="priority">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="compCode">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="equipClass">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="estLabCost">
        <xsd:restriction base="xsd:decimal">
            <xsd:maxInclusive value="10000000000000000000"/>
            <xsd:minInclusive value="-10000000000000000000"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="jobDescCodeD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="woStatusM">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="actualFinishDate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="taskStatusD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="reqByDate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="woStatusUD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="compModCode">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="woStatusU">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="planPriority">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="assignPersonD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="woStatusMD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="actualStartTime">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="districtCode">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="workGroup">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="completedCodeD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="woDesc">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="mustStartInd">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="jobDescCode">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="workActClassif">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="actualStartDate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="WOTaskDesc">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="equipNo">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="equipRef">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="unitsRequired">
        <xsd:restriction base="xsd:decimal">
            <xsd:maxInclusive value="999999999.99"/>
            <xsd:minInclusive value="-999999999.99"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="equipLocation">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="unitOfWorkD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="locationToD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="origPriorityD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="unitsComplete">
        <xsd:restriction base="xsd:decimal">
            <xsd:maxInclusive value="999999999.99"/>
            <xsd:minInclusive value="-999999999.99"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="reqByTime">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EGI">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="woType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="locationFrD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="maintTypeD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="origPriority">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="unitsPerDay">
        <xsd:restriction base="xsd:decimal">
            <xsd:maxInclusive value="999999999.99"/>
            <xsd:minInclusive value="-999999999.99"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="compModCodeD">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="actualFinishTime">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="completedCode">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="completionText">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="pcComplete">
        <xsd:restriction base="xsd:decimal">
            <xsd:maxInclusive value="99999.99"/>
            <xsd:minInclusive value="-99999.99"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="locationTo">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="earlyFinDate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="planFinDate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="woTaskNo">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="completedBy">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="earlyStrTime">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="WorkOrderTaskJDTO">
        <xsd:complexContent>
            <xsd:extension base="ns2:ServiceDTO">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="APTWExistsInd" type="ns3:APTWExistsInd"/>
                    <xsd:element minOccurs="0" name="EGI" type="ns3:EGI"/>
                    <xsd:element minOccurs="0" name="WOTaskDesc" type="ns3:WOTaskDesc"/>
                    <xsd:element minOccurs="0" name="actualFinishDate" type="ns3:actualFinishDate"/>
                    <xsd:element minOccurs="0" name="actualFinishTime" type="ns3:actualFinishTime"/>
                    <xsd:element minOccurs="0" name="actualStartDate" type="ns3:actualStartDate"/>
                    <xsd:element minOccurs="0" name="actualStartTime" type="ns3:actualStartTime"/>
                    <xsd:element minOccurs="0" name="assignPerson" type="ns3:assignPerson"/>
                    <xsd:element minOccurs="0" name="assignPersonD" type="ns3:assignPersonD"/>
                    <xsd:element minOccurs="0" name="compCode" type="ns3:compCode"/>
                    <xsd:element minOccurs="0" name="compCodeD" type="ns3:compCodeD"/>
                    <xsd:element minOccurs="0" name="compModCode" type="ns3:compModCode"/>
                    <xsd:element minOccurs="0" name="compModCodeD" type="ns3:compModCodeD"/>
                    <xsd:element minOccurs="0" name="completedBy" type="ns3:completedBy"/>
                    <xsd:element minOccurs="0" name="completedByD" type="ns3:completedByD"/>
                    <xsd:element minOccurs="0" name="completedCode" type="ns3:completedCode"/>
                    <xsd:element minOccurs="0" name="completedCodeD" type="ns3:completedCodeD"/>
                    <xsd:element minOccurs="0" name="completionText" type="ns3:completionText"/>
                    <xsd:element minOccurs="0" name="crew" type="ns3:crew"/>
                    <xsd:element minOccurs="0" name="districtCode" type="ns3:districtCode"/>
                    <xsd:element minOccurs="0" name="earlyFinDate" type="ns3:earlyFinDate"/>
                    <xsd:element minOccurs="0" name="earlyFinTime" type="ns3:earlyFinTime"/>
                    <xsd:element minOccurs="0" name="earlyStrDate" type="ns3:earlyStrDate"/>
                    <xsd:element minOccurs="0" name="earlyStrTime" type="ns3:earlyStrTime"/>
                    <xsd:element minOccurs="0" name="equipClass" type="ns3:equipClass"/>
                    <xsd:element minOccurs="0" name="equipLocation" type="ns3:equipLocation"/>
                    <xsd:element minOccurs="0" name="equipNo" type="ns3:equipNo"/>
                    <xsd:element minOccurs="0" name="equipNoD1" type="ns3:equipNoD1"/>
                    <xsd:element minOccurs="0" name="equipNoD2" type="ns3:equipNoD2"/>
                    <xsd:element minOccurs="0" name="equipRef" type="ns3:equipRef"/>
                    <xsd:element minOccurs="0" name="estDurHrs" type="ns3:estDurHrs"/>
                    <xsd:element minOccurs="0" name="estLabCost" type="ns3:estLabCost"/>
                    <xsd:element minOccurs="0" name="jobDescCode" type="ns3:jobDescCode"/>
                    <xsd:element minOccurs="0" name="jobDescCodeD" type="ns3:jobDescCodeD"/>
                    <xsd:element minOccurs="0" name="locationFr" type="ns3:locationFr"/>
                    <xsd:element minOccurs="0" name="locationFrD" type="ns3:locationFrD"/>
                    <xsd:element minOccurs="0" name="locationTo" type="ns3:locationTo"/>
                    <xsd:element minOccurs="0" name="locationToD" type="ns3:locationToD"/>
                    <xsd:element minOccurs="0" name="maintType" type="ns3:maintType"/>
                    <xsd:element minOccurs="0" name="maintTypeD" type="ns3:maintTypeD"/>
                    <xsd:element minOccurs="0" name="mustStartInd" type="ns3:mustStartInd"/>
                    <xsd:element minOccurs="0" name="origPriority" type="ns3:origPriority"/>
                    <xsd:element minOccurs="0" name="origPriorityD" type="ns3:origPriorityD"/>
                    <xsd:element minOccurs="0" name="pcComplete" type="ns3:pcComplete"/>
                    <xsd:element minOccurs="0" name="planFinDate" type="ns3:planFinDate"/>
                    <xsd:element minOccurs="0" name="planFinTime" type="ns3:planFinTime"/>
                    <xsd:element minOccurs="0" name="planPriority" type="ns3:planPriority"/>
                    <xsd:element minOccurs="0" name="planPriorityD" type="ns3:planPriorityD"/>
                    <xsd:element minOccurs="0" name="planStrDate" type="ns3:planStrDate"/>
                    <xsd:element minOccurs="0" name="planStrTime" type="ns3:planStrTime"/>
                    <xsd:element minOccurs="0" name="priority" type="ns3:priority"/>
                    <xsd:element minOccurs="0" name="priorityD" type="ns3:priorityD"/>
                    <xsd:element minOccurs="0" name="reqByDate" type="ns3:reqByDate"/>
                    <xsd:element minOccurs="0" name="reqByTime" type="ns3:reqByTime"/>
                    <xsd:element minOccurs="0" name="sjDstrctCode" type="ns3:sjDstrctCode"/>
                    <xsd:element minOccurs="0" name="stdJobNo" type="ns3:stdJobNo"/>
                    <xsd:element minOccurs="0" name="taskStatus" type="ns3:taskStatus"/>
                    <xsd:element minOccurs="0" name="taskStatusD" type="ns3:taskStatusD"/>
                    <xsd:element minOccurs="0" name="taskStatusU" type="ns3:taskStatusU"/>
                    <xsd:element minOccurs="0" name="taskStatusUD" type="ns3:taskStatusUD"/>
                    <xsd:element minOccurs="0" name="unitOfWork" type="ns3:unitOfWork"/>
                    <xsd:element minOccurs="0" name="unitOfWorkD" type="ns3:unitOfWorkD"/>
                    <xsd:element minOccurs="0" name="unitsComplete" type="ns3:unitsComplete"/>
                    <xsd:element minOccurs="0" name="unitsPerDay" type="ns3:unitsPerDay"/>
                    <xsd:element minOccurs="0" name="unitsRequired" type="ns3:unitsRequired"/>
                    <xsd:element minOccurs="0" name="woDesc" type="ns3:woDesc"/>
                    <xsd:element minOccurs="0" name="woStatusM" type="ns3:woStatusM"/>
                    <xsd:element minOccurs="0" name="woStatusMD" type="ns3:woStatusMD"/>
                    <xsd:element minOccurs="0" name="woStatusU" type="ns3:woStatusU"/>
                    <xsd:element minOccurs="0" name="woStatusUD" type="ns3:woStatusUD"/>
                    <xsd:element minOccurs="0" name="woTaskNo" type="ns3:woTaskNo"/>
                    <xsd:element minOccurs="0" name="woType" type="ns3:woType"/>
                    <xsd:element minOccurs="0" name="woTypeD" type="ns3:woTypeD"/>
                    <xsd:element minOccurs="0" name="workActClassif" type="ns3:workActClassif"/>
                    <xsd:element minOccurs="0" name="workGroup" type="ns3:workGroup"/>
                    <xsd:element minOccurs="0" name="workOrder" type="ns3:workOrder"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfWorkOrderTaskJServiceResult">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkOrderTaskJServiceResult" nillable="true" type="ns3:WorkOrderTaskJServiceResult"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorkOrderTaskJServiceResult">
        <xsd:complexContent>
            <xsd:extension base="ns2:ServiceResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="workOrderTaskJDTO" type="ns3:WorkOrderTaskJDTO"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="dstrctCode">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="WorkOrderTaskJExtractSearchParam">
        <xsd:complexContent>
            <xsd:extension base="ns2:AbstractSearchParam">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="assignPerson" type="ns3:assignPerson"/>
                    <xsd:element minOccurs="0" name="crew" type="ns3:crew"/>
                    <xsd:element minOccurs="0" name="dstrctCode" type="ns3:dstrctCode"/>
                    <xsd:element minOccurs="0" name="jobDescCode" type="tns:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="taskStatus" type="tns:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="taskStatusU" type="tns:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="woTaskNo" type="ns3:woTaskNo"/>
                    <xsd:element minOccurs="0" name="workActClassif" type="tns:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="workOrder" type="ns3:workOrder"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfWorkOrderTaskJDTO">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkOrderTaskJDTO" nillable="true" type="ns3:WorkOrderTaskJDTO"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ellipse.mincom.com">
    <xsd:import namespace="http://errors.ellipse.mincom.com"/>
    <xsd:import namespace="http://instances.base.types.ellipse.mincom.com"/>
    <xsd:import namespace="http://attribute.ellipse.mincom.com"/>
    <xsd:complexType abstract="true" name="AbstractSearchParam">
        <xsd:complexContent>
            <xsd:extension base="ns2:ServiceDTO">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="serviceRequiredAttributes" type="ns2:ServiceRequiredAttributes"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="ServiceDTO">
        <xsd:complexContent>
            <xsd:extension base="ns4:Base">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customAttributes" type="ns5:ArrayOfAttribute"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ServiceRequiredAttributes"/>
    <xsd:complexType name="ServiceResult">
        <xsd:complexContent>
            <xsd:extension base="ns2:BaseServiceResult"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="BaseServiceResult">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="errors" type="ns6:ArrayOfError"/>
            <xsd:element minOccurs="0" name="informationalMessages" type="ns6:ArrayOfMessage"/>
            <xsd:element minOccurs="0" name="warnings" type="ns6:ArrayOfWarning"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.base.types.ellipse.mincom.com">
    <xsd:complexType abstract="true" name="Base"/>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://attribute.ellipse.mincom.com">
    <xsd:import namespace="http://workordertaskj.m3620.service.ellipse.mincom.com"/>
    <xsd:complexType name="ArrayOfAttribute">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attribute" nillable="true" type="ns5:Attribute"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Attribute">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="dataType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="namespace" type="xsd:string"/>
            <xsd:element minOccurs="0" name="properties" type="tns:anyType2anyTypeMap"/>
            <xsd:element minOccurs="0" name="value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://workordertaskj.m3620.service.ellipse.mincom.com">
    <xsd:import namespace="http://connectivity.service.ews.mincom.com"/>
    <xsd:import namespace="http://instances.m3620.types.ellipse.mincom.com"/>
    <xsd:complexType name="anyType2anyTypeMap">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="key" type="xsd:anyType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:anyType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="search">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="searchParams" nillable="true" type="ns3:WorkOrderTaskJSearchParam"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="restart" nillable="true" type="ns3:WorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="searchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:ArrayOfWorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="extract">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="searchParams" nillable="true" type="ns3:WorkOrderTaskJExtractSearchParam"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="restart" nillable="true" type="ns3:WorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="extractResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:ArrayOfWorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="read">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns3:WorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="readResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:WorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="multipleUpdate">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfWorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="multipleUpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:ArrayOfWorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="multipleDelete">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfWorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="multipleDeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:ArrayOfWorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="create">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns3:WorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:WorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="update">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns3:WorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:WorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="multipleRead">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfWorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="multipleReadResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:ArrayOfWorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="delete">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns3:WorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:WorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="multipleCreate">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfWorkOrderTaskJDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="multipleCreateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns3:ArrayOfWorkOrderTaskJServiceResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://errors.ellipse.mincom.com">
    <xsd:complexType name="ArrayOfError">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Error" nillable="true" type="ns6:Error"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Error">
        <xsd:complexContent>
            <xsd:extension base="ns6:Message"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Message">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="fieldId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fieldIndex" type="xsd:int"/>
            <xsd:element minOccurs="0" name="localisable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="messageId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="messageInstance" type="xsd:string"/>
            <xsd:element minOccurs="0" name="messageText" type="xsd:string"/>
            <xsd:element minOccurs="0" name="parentInstance" type="xsd:string"/>
            <xsd:element minOccurs="0" name="user" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfMessage">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Message" nillable="true" type="ns6:Message"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfWarning">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Warning" nillable="true" type="ns6:Warning"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Warning">
        <xsd:complexContent>
            <xsd:extension base="ns6:Message"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchRequest">
    <wsdl:part name="parameters" element="tns:search">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readResponse">
    <wsdl:part name="parameters" element="tns:readResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part name="parameters" element="tns:update">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleCreateResponse">
    <wsdl:part name="parameters" element="tns:multipleCreateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readRequest">
    <wsdl:part name="parameters" element="tns:read">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part name="parameters" element="tns:create">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleReadResponse">
    <wsdl:part name="parameters" element="tns:multipleReadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="extractResponse">
    <wsdl:part name="parameters" element="tns:extractResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="tns:createResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleDeleteResponse">
    <wsdl:part name="parameters" element="tns:multipleDeleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleUpdateResponse">
    <wsdl:part name="parameters" element="tns:multipleUpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleReadRequest">
    <wsdl:part name="parameters" element="tns:multipleRead">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleDeleteRequest">
    <wsdl:part name="parameters" element="tns:multipleDelete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleUpdateRequest">
    <wsdl:part name="parameters" element="tns:multipleUpdate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="extractRequest">
    <wsdl:part name="parameters" element="tns:extract">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleCreateRequest">
    <wsdl:part name="parameters" element="tns:multipleCreate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="tns:searchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part name="parameters" element="tns:delete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WorkOrderTaskJ">
    <wsdl:operation name="search">
      <wsdl:input name="searchRequest" message="tns:searchRequest">
    </wsdl:input>
      <wsdl:output name="searchResponse" message="tns:searchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extract">
      <wsdl:input name="extractRequest" message="tns:extractRequest">
    </wsdl:input>
      <wsdl:output name="extractResponse" message="tns:extractResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input name="readRequest" message="tns:readRequest">
    </wsdl:input>
      <wsdl:output name="readResponse" message="tns:readResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleUpdate">
      <wsdl:input name="multipleUpdateRequest" message="tns:multipleUpdateRequest">
    </wsdl:input>
      <wsdl:output name="multipleUpdateResponse" message="tns:multipleUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleDelete">
      <wsdl:input name="multipleDeleteRequest" message="tns:multipleDeleteRequest">
    </wsdl:input>
      <wsdl:output name="multipleDeleteResponse" message="tns:multipleDeleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input name="createRequest" message="tns:createRequest">
    </wsdl:input>
      <wsdl:output name="createResponse" message="tns:createResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="updateRequest" message="tns:updateRequest">
    </wsdl:input>
      <wsdl:output name="updateResponse" message="tns:updateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdl:input name="multipleReadRequest" message="tns:multipleReadRequest">
    </wsdl:input>
      <wsdl:output name="multipleReadResponse" message="tns:multipleReadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="deleteRequest" message="tns:deleteRequest">
    </wsdl:input>
      <wsdl:output name="deleteResponse" message="tns:deleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleCreate">
      <wsdl:input name="multipleCreateRequest" message="tns:multipleCreateRequest">
    </wsdl:input>
      <wsdl:output name="multipleCreateResponse" message="tns:multipleCreateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorkOrderTaskJServiceHttpBinding" type="tns:WorkOrderTaskJ">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBindingPolicy"/>
    <wsdl:operation name="search">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="searchRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extract">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="extractRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="extractResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="readRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="readResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleUpdate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multipleUpdateRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="multipleUpdateResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleDelete">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multipleDeleteRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="multipleDeleteResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="createResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multipleReadRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="multipleReadResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="deleteRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleCreate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multipleCreateRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="multipleCreateResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#WorkOrderTaskJServiceHttpBinding_Policy"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkOrderTaskJService">
    <wsdl:port name="WorkOrderTaskJServiceHttpPort" binding="tns:WorkOrderTaskJServiceHttpBinding">
      <wsdlsoap:address location="http://localhost/services/WorkOrderTaskJService"/>
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy wsu:Id="WorkOrderTaskJServiceHttpBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SymmetricBinding>
          <wsp:Policy/>
        </sp:SymmetricBinding>
        <sp:EncryptedSupportingTokens>
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10/>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:EncryptedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WorkOrderTaskJServiceHttpBinding_Policy">
    <wsp:ExactlyOne>
      <wsp:All/>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>
